{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/png" href="{%  static 'images/icon.png' %}"/>
        <link rel="stylesheet" href="{% static 'w3.css' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style type="text/css">
        /* Modal Content/Box */
        .login{
            background-color: #ffffff;
            width: 30%; /* Could be more or less, depending on screen size */
        }
        @media (max-width:760px){
            .login{
                width: 100% !important;
            }
        }
        </style>
    </head>
    <body class="w3-light-grey">
        <form class="w3-display-middle w3-card-4 login" action="{% url 'koperasi:login' %}" method="post" enctype="multipart/form-data">
        	<span class="w3-center w3-block"><img src="{% static 'images/icon.png' %}" width='100px;' style="margin-top: 20px"></span>
        	<hr>
            <h3 class="w3-center">Log In</h3>
            {% csrf_token %}
            {% if error_message %}
                <div class="w3-panel w3-pale-red"><p>{{ error_message }}</p></div>
            {% endif %}
                <div class="w3-container w3-padding">
                    <label for="id_username">
                        Username
                    </label>
                    <input id="id_username" maxlength="30" name="username" type="text" class="w3-input w3-border" autofocus>
                </div>

                <div class="w3-container w3-padding">
                    <label for="id_password">
                        Password
                    </label>
                    <input id="id_password" maxlength="30" name="password" type="password" class="w3-input w3-border">
                </div>

                <div class="w3-container w3-padding">
                <button type="submit" class="w3-button w3-green">Submit</button>
                <p>
                    Belum punya akun? <a href="{% url 'koperasi:register' %}">Klik disini</a> untuk mendaftar.
                </p>
                </div>
        </form>
    </body>
</html>
